* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  font-family: "Raleway", sans-serif;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

nav .container {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 5px;
  margin-left: 200px;
}

nav .container .brand {
  color: rgb(0, 27, 148);
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: auto;
}

nav .container .nav-links {
  display: flex;
  margin-left: 250px;
}

nav .container .nav-links li {
  margin: 10px 30px;
}

nav .container .nav-links li .nav-link {
  text-decoration: none;
  color: #999fae;
  font-family: "Merriweather Sans";
  font-size: 18px;
}

nav .container .cta-menu-btn {
  outline: 0;
  border: 0;
  background: #fab8c4;
  padding: 35px 70px;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-left: 80px;
  margin-right: 70px;
  transition: all 0.2s;
}

nav .container .cta-menu-btn:hover {
  transform: translateX(10px);
}

#content {
  width: 85%;
  margin: 150px auto;
}

#content .info {
  width: 50%;
}
#content .info .title {
  color: rgb(52, 52, 53);
  font-size: 87px;
  letter-spacing: 1px;
}

#content .info .text {
  color: rgb(13, 30, 77);
  padding: 35px 0px;
  line-height: 30px;
  width: 80%;
}

#content .info .cta-btn {
  outline: 0;
  border: 0;
  background: #5956e9;
  padding: 35px 75px;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);

  transition: all 0.2s;
}

#content .info .cta-btn:hover {
  transform: translateY(-5px);
}

#content img {
  position: absolute;
  width: 1100px;
  top: 160px;
  right: 60px;
  z-index: -1;
}

.main__circle {
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.a {
  background: rgb(247, 207, 30);
  opacity: 0.7;
  top: 120px;
  left: 630px;
  width: 80px;
  height: 80px;
}

.b {
  width: 200px;
  height: 200px;
  top: -50px;
  left: -80px;
  background: blue;
  opacity: 0.8;
}

.c {
  width: 130px;
  height: 130px;
  top: 380px;
  left: -30px;
  opacity: 0.8;
  background: #fab8c4;
}

.d {
  width: 130px;
  height: 130px;
  bottom: 90px;
  left: 500px;
  background: #5956e9;
  opacity: 0.6;
}
